.our-story {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    background-image: url("../../../assets/HomeSection/people-working-as-team-background-flat-style_23-2147767891.avif");
    background-position: center;
    background-size: cover;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    
}

.spotlight-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    transition: background 0.1s;
}


.story-text {
    position: relative;
    z-index: 5;
    color:white;
    font-weight: bold;
    font-size: 18px;
    word-spacing: 7px;
}
